<div class="border rounded-md m-3 md:p-10">
  <form [formGroup]="form">
    <span> Enter Path : </span>
    <mat-form-field appearance="fill">
      <div class="static-input-combo">
        <span class="static-part">http://localhost:3000/</span>
        <input matInput placeholder="Enter value" required formControlName="inputField">
      </div>
    </mat-form-field>
    <div>
      <mat-radio-group formControlName="method" required>
        <mat-radio-button value="get">GET</mat-radio-button>
        <mat-radio-button value="post">POST</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex justify-between">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.value.method === 'get'" (click)="onSubmit()">
        Send Data
      </button>
      <div class="flex gap-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.value.method === 'post'" (click)="onSubmit()">Start</button>
        <button mat-raised-button color="warn" [disabled]="form.value.method === 'post'" (click)="stopData(form.value.inputField, form.value.method)">Stop</button>
      </div>
      <button mat-raised-button color="primary" (click)="copyData($event)">
        Copy
      </button>
    </div>
    <div class="h-96 w-full flex md:flex-row flex-col justify-between gap-4 items-center pt-4 overflow-auto">
      <section class="h-full w-full bg-light-500 rounded-sm shadow-md" id="editor">
        <div class="json-input">
          <div class="flex-container">
            <div class="line-numbers" #lineNumbers>
              <div *ngFor="let line of stringifyJSON(form.get('inputValue')?.value).split('\n'); let i = index">
                <span class="line-number">{{ i + 1 }}</span>
              </div>
            </div>
            <textarea matInput class="editor" placeholder="Copy JSON here" formControlName="inputValue"
              [value]="stringifyJSON(form.get('inputValue')?.value)" (scroll)="syncScroll($event)" #editor></textarea>
          </div>
        </div>

        <!-- <button class="mt-3 bg-blue-500 text-white px-4 py-2 rounded" (click)="generateJson()">Generate</button> -->
      </section>
      <section class="json-output h-full w-full bg-primary-900 rounded-sm text-yellow-500 p-3 overflow-auto shadow-md">
        <pre *ngIf="form.get('inputValue')?.value" id="jsonContent"
          [innerHTML]="form.get('inputValue')?.value | prettyjson : [false, 3]"></pre>
      </section>
    </div>
  </form>
</div>















<!-- <textarea
      cols="50" rows="10"
        matInput
        class="h-full w-full p-3 rounded-sm outline-none resize-none"
        placeholder="Copy JSON here"
        [(ngModel)]="inputValue"
        [value]="inputValue"
      >
    </textarea> -->
<!-- <div class="json-output">
      <div class="flex flex-row">
        <div class="line-numbers" *ngFor="let line of inputValue.split('\n'); let i = index; let islast=last">
          <span class="line-number">{{ i + 1}}</span>
        </div>
        <div>
          <textarea
            cols="50" rows="10"
            matInput
            class="h-full w-full p-3 rounded-sm outline-none resize-none"
            placeholder="Copy JSON here"
            [(ngModel)]="inputValue"
            [value]="inputValue"
          >
        </textarea>
        </div>
      </div>
  
    </div> -->